@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* -------Header Start-------- */
header{
    background-color: #2D25A0;
    display: flex;
    padding-top: 67px;
    padding-bottom: 65px;
}
.header-half{
    width: 50%;
}
.header-text{
    margin-left: 420px;
    padding-top: 55px;
    padding-right: 100px;
     
}
header h1{
    color: white;
    font-weight: 700;
    font-size: 64px;
}
header a{
    text-decoration: none;
    color: turquoise;
}
.header-half img{
    width: 555px;
    height: 440px;
    margin-right: 300px;
}
.header-half img:hover{
    transform: rotateZ(30deg);
    transition: transform 0.5s;
}
.hover-effect{
    background-color: rgba(56, 35, 32, 0.863);
    margin-right: 75%;
    padding: 10px;
}
.hover-effect:hover{
    background-image: linear-gradient(#192841, #23395d);
    border-radius: 20px;
    color: turquoise;
    box-shadow: 5px 5px 30px lightcyan;
    transform: scale(1.1);
    transition: transform 0.5s ease-in;
}

/* ----------------First Container------------- */

.first-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 330px;
    padding: 60px 0 60px 440px;
}
.player{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* margin-right: 82.5%; */
    padding: 15px;
}
.player img{
    width: 300px;
    height: 245px;
}

/* ---------------Footer Start----------- */



footer img{
    width: 20%;
    padding: 5% 0 0 41%;
}
footer p{
    padding-left: 45%;
    padding-bottom: 5%;
    font-size: 15px;
    font-weight: 600;
}
footer .social-icons{
    padding: 0.2% 0 0.5% 46%;
}
.fab, .social-icon{
    background-color: rgba(128, 128, 128, 0.533);
    color: rgba(0, 0, 0, 0.400);
    margin-right: 5px;
    padding: 5px;
    border-radius: 25px;
}

/* --------------Second Section------------- */

.second-container{
    background-color: #192841;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
table{
    background-color: #7a8e9b;
    width: 400px;
    height: 400px;
    margin-left: 60px;
    border-radius: 8px;
    box-shadow: 5px 5px 40px rgba(182, 178, 178, 0.692);
}
caption{
    color: lightgrey;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
}
th{
    font-size: 1.2em;
    padding-left: 20px;
 } 
td{
     padding-left: 40px;
 }
 .second-container img{
     width: 300px;
     height: 700px;
     height: 100%; 
     padding-left: 400px;  
}
.about-fifa{
    padding-left: 200px;
    color: rgba(211, 211, 211, 0.801);
}
.about-fifa a{
    text-decoration: none;
    color: lightsteelblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562),rgba(46, 46, 46, 0.774));
    padding: 5px 10px;
    border-radius: 10px;
}
.about-fifa a:hover{
    color: red;
    box-shadow: 2px 2px 10px red;
    padding: 10px 20px;
    transition: padding 0.3s;
}

/* ---------------media query----------- */

@media only screen and (max-width:688px) {

/* -----------------header------------------ */
 header{
     padding-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
 }
 .header-text h1{
    font-size: 30px;
 }
 .header-half img{
     width: 320px;
     height: 270px;
     padding-left: 80px;
 }
 .hover-effect{
     margin: 5% 43% 10% 0;
     padding: 5px;
 }


   /* ------------first container---------- */
    .first-container{
        width: 100%;
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }
    .player{
        padding: 15px 15px 15px 15px ;
        margin-left: 20px;
        margin-right: 55px;
    }

    /* ---------------second container-------------- */
    .second-container{
        grid-template-columns: repeat(1, 1fr);

    }
    table{
        height: 200px;
        width: 200px;
    }
    .about-fifa{
        width: 250px;
        padding-left: 60px;
    }
    .second-container img{
        padding-left: 60px;
    }


    /* -----------footer----------- */

    footer img{
        width: 60%;
        padding-left: 15%;
    }
    footer .social-icons{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    footer p{
        padding-left: 25%;
    }
    }
